.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    text-decoration: none;
    border: none;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
    cursor: pointer;
}
.btn--main {
    width: 270px;
    height: 60px;
    background-color: #ff4e2e;
    border: 1px solid transparent;
}
.btn--main:hover {
    background-color: #ffffff;
    border:1px solid #ff4e2e;
    color: #ff4e2e;
}
.btn--modal {
    margin: 0 auto;
}
.container__header {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 54px;
    line-height: 59px;
    font-weight: 700;
    color: #000000;
}

/*---------*/

.header {
    margin: 30px 0 53px 0;
}
.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__main-navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
    .main-navigation__navigation-list {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
    }
        .navigation-list__item {
            margin: 0 32px 0 0;
        }
        .navigation-list__item:last-child {
            margin: 0 0 0 0;
        }
        .navigation-list__item a {
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #1f1f24;
            text-decoration: none;
            -webkit-transition: .300s ease-in-out;
            -o-transition: .300s ease-in-out;
            transition: .300s ease-in-out;
        }
        .navigation-list__item a:hover {
            color: #fc557c;
            -webkit-box-shadow: 0 1px 0 #fc557c;
                    box-shadow: 0 1px 0 #fc557c;
            -webkit-transition: .300s ease-in-out;
            -o-transition: .300s ease-in-out;
            transition: .300s ease-in-out;
        }
        .navigation-list__item--close {
            display: none;
        }
    .header__side-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .side-block__phone-link {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
    }
    .side-block__phone-link:hover {
        color: #f82370;
        -webkit-transition: .300s ease-in-out;
        -o-transition: .300s ease-in-out;
        transition: .300s ease-in-out;
    }
    .side-block__phone-btn {
        margin: 0 0 0 30px;
        padding: 0;
        width: 207px;
        height: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        font-family: 'Roboto-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #f82370;
        background-color: transparent;
        border: 1px solid #f82370;
        outline: none;
        cursor: pointer;
    }
    .side-block__phone-btn:hover {
        background-color: #f82370;
        color: #ffffff;
        -webkit-transition: .300s ease-in-out;
        -o-transition: .300s ease-in-out;
        transition: .300s ease-in-out;
    }
    .side-block__phone-btn--mobile {
        display: none;       
    }
    .side-block__phone-btn--mobile:hover {
        background-color: transparent;
    }
.welcome {
    background-image: url('../img/ellipse.svg');
    background-repeat: no-repeat;
    background-position: right 10px;

    position: relative;
}
.welcome .el-1-1,
.welcome .el-1-2,
.welcome .el-1-3,
.welcome .el-1-4,
.welcome .el-1-5,
.welcome .el-1-6-tab {
    background: rgb(242,101,34);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(242,101,34,1)), color-stop(30%, rgba(250,8,145,1)));
    background: -o-linear-gradient(bottom, rgba(242,101,34,1) 0%, rgba(250,8,145,1) 30%);
    background: linear-gradient(0deg, rgba(242,101,34,1) 0%, rgba(250,8,145,1) 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}
/* {} */
.welcome .el-1-1 {
    font-size: 50px;
    font-family: 'Roboto-Bold';
    color: rgb(96, 85, 196);
    font-weight: bold;
    line-height: 0.9;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    position: absolute;
    left: 7%;
    top: 1.5%;
    z-index: 127;
}
/* <div> */
.welcome .el-1-2 {
    font-size: 30px;
    font-family: 'Roboto-Bold';
    color: rgb(96, 85, 196);
    font-weight: bold;
    line-height: 0.9;
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
    position: absolute;
    left: 41%;
    top: 6%;
    z-index: 126;      
}
/* # */
.welcome .el-1-3 {
    font-size: 60px;
    font-family: 'Roboto-Bold';
    color: rgb(96, 85, 196);
    font-weight: bold;
    line-height: 0.9;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
    position: absolute;
    left: 13%;
    top: 37%;
    z-index: 129;
}
/* <div> */
.welcome .el-1-4 {
    font-size: 35px;
    font-family: 'Roboto-Bold';
    color: rgb(96, 85, 196);
    font-weight: bold;
    line-height: 0.9;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    position: absolute;
    left: 49.8%;
    top: 64%;
    z-index: 125; 
}
.welcome .el-1-5 {
    font-size: 35px;
    font-family: 'Roboto-Bold';
    color: rgb(96, 85, 196);
    font-weight: bold;
    line-height: 0.9;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    position: absolute;
    left: 20%;
    top: 84.5%;
    z-index: 123;      
}
/* </> */
.welcome .el-1-6-tab {
    display: none;
}
    .welcome__container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
        .welcome__text-block {
            max-width:735px;
            margin: -85px 0 0 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-item-align: center;
                align-self: center;

            position: relative;
            z-index: 200;
                }
        .welcome-text-block__header {
            margin: 0;
            font-family: 'Roboto-Black', sans-serif;
            font-size: 80px;
            line-height: 100px;
            font-weight: 900;
            color: #000000;
        }
        .welcome-text-block__desc {
            margin: 0 0 30px 0;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 25px;
            line-height: 54px;
            font-weight: 400;
            color: #8993ad;
        }
    .welcome__photo {
        max-width:435px;
        margin-right: -85px;
    }
    .welcome__photo img {
        width: 100%;
        display: block;
        position: relative;
        z-index: 200;
    }
.skills {
    margin: -10px 0 0 0;
    position: relative;
    background-color: #ffffff;
    z-index: 210;
}
    .skills__container {
        padding: 90px 0 90px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .skills__list {
        width: 100%;
        margin: 90px 0 45px 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style: none;
    }
        .list__item {
            margin: 0 0 45px 0;
            max-width: 25%;
        }
        .list__item:first-child {
            margin-left: 0;
        }
        .list__item:last-child {
            margin-right: 0;
        }
        .list__item figure {
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .list-item figure img {
            display: block;
            width: 80px;
            height: 74px;
        }
        .list__item figcaption {
            margin: 20px 0 0 0;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #8993ad;
            text-align: center;
        }
.works__container {
    max-width: 1260px;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 105px auto 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
    .works__works-list {
        margin: 100px 0 70px 0;
        padding: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style: none;
    }
    .works-list__item {
        width: 370px;
    }
    .works-list__item figure {
        margin: 0;
    }
    .works-list__item figure img {
        max-height: 290px;
    }
    .works-list__item figure figcaption {
        margin: 15px 0 0 0;
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 20px;
        line-height: 59px;
        font-weight: 500;
        color: #8993ad;
        text-align: center;
    }
.arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 45%;

    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0, .1);
            box-shadow: 0 0 15px rgba(0,0,0, .1);
}
.carusel-buttons {
    margin: 0 0 100px 0;
    padding: 0;
    display: none;
    list-style: none;
}
.carusel-item {
    margin: 0 30px 0 0;
}
.carusel-button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: #ebebeb;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}
.carusel-button:hover:not(.active-carusel-button) {
    background-color: #ff4e2e50;
}
.active-carusel-button {
    background-color: #ff4e2e;
}
.carusel-item:last-child {
    margin: 0 0 0 0;
}

.price {
    position: relative;
    background: rgb(255,143,90);
    background: -o-linear-gradient(60deg, rgba(255,143,90,1) 30%, rgba(255,47,150,1) 100%);
    background: linear-gradient(30deg, rgba(255,143,90,1) 30%, rgba(255,47,150,1) 100%);
}
.price .el-2-1,
.price .el-2-2,
.price .el-2-3,
.price .el-2-4,
.price .el-2-5 {
    position: absolute;
    color: #ffffff;
    cursor: default;
}
.price .el-2-1 {
    top: 15%;
    left: 7%;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    font-size: 50px;
}
.price .el-2-2 {
    top: 20%;
    right: 11%;
    font-size: 50px;
    -webkit-transform:rotate(-25deg);
        -ms-transform:rotate(-25deg);
            transform:rotate(-25deg);
    font-size: 40px;
}
.price .el-2-3 {
    top: 68%;
    left: 13%;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
    font-size: 50px;
}
.price .el-2-4 {
    bottom: 4%;
    right: 21.5%;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    font-size: 35px;
}
.price .el-2-5 {
    bottom: 12.5%;
    right: 5.5%;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    font-size: 50px;
}
    .price__container {
        padding: 77px 0 77px 0;
        margin: 0 auto;
        max-width: 945px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .price__header {
        margin: 0 0 28px 0;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 45px;
        line-height: 60px;
        font-weight: 700;
        color: #ffffff;
        text-align: left;
    }
        .price-help__container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        .price-help__star {
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #ffffff;
        }
        .price-help__text {
            padding: 0 0 0 5px;
            width: 750px;
            margin: 0;
            font-family: 'Roboto-Regular', sans-serif;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: #ffffff;
        }
.footer {
    background-color: #ffffff;
}
    .footer__items {
        width: 100%;
        padding: 80px 0 75px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer__block {
        width: 33%;
    }
.footer-navigation__list {
    margin: 5px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
}
.f-navigation-list__item {
    margin: 0 0 13px 0;
}
.f-navigation-list__item:last-child {
    margin: 0 0 0 0;
}
.f-navigation-list__item a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #8993ad;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.f-navigation-list__item a:hover {
    color: #fc557c;
    -webkit-box-shadow: 0 1px 0 #fc557c;
            box-shadow: 0 1px 0 #fc557c;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.footer-contacts__list {
    margin: 5px 7px 0 7px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
}
    .f-contacts-list__item {
        margin: 0 19px 30px 0;
    }
    .social__link {
        width: 35px;
        height: 21px;
        display: block;
        cursor: pointer;
    }
    .social__link--vk {
        width: 35px; height: 21px;
        background: url('../img/css_sprites.png') -138px -14px;
    }
    .social__link--vk:hover {
        width: 35px; height: 21px;
        background: url('../img/css_sprites.png') -138px -60px;
    }
    .social__link--fb {
        width: 16px; height: 28px;
        background: url('../img/css_sprites.png') -8px -14px;
    }
    .social__link--fb:hover {
        background: url('../img/css_sprites.png') -8px -60px;
    }
    .social__link--twitter {
        width: 29px; height: 25px;
        background: url('../img/css_sprites.png') -89px -14px;
    }
    .social__link--twitter:hover {
        background: url('../img/css_sprites.png') -89px -60px;
    }
    .social__link--inst {
        width: 25px; height: 25px;
        background: url('../img/css_sprites.png') -44px -14px;
    }
    .social__link--inst:hover {
        background: url('../img/css_sprites.png') -44px -60px;
    }
    .f-contacts-list__item a {
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
    }
    .f-contacts-list__item a:hover {
        color: #f82370;
        -webkit-transition: .300s ease-in-out;
        -o-transition: .300s ease-in-out;
        transition: .300s ease-in-out;
    }
    .f-contacts-list__item:last-child {
        margin: 0 0 0 0;
    }
.footer-social__list {
    max-width: 270px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.btn--footer {
    padding: 0;
    margin: 0 0 35px 0;
    width: 248px;
    height: 43px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ff6375;
    border: 1px solid #ff6375;
    background-color: transparent;
    cursor: pointer;
}
.btn--footer:hover {
    background-color: #f82370;
    color: #ffffff;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.footer-social__social-network {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    list-style: none;
}
.social-network__item {
    margin: 0 30px 0 0;
}
.social-network__item:last-child {
    margin: 0 0 0 0;
}
.copyright-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #31293c;
}
.copyright-block p {
    margin: 30px 0 30px 0;
}

/* Модальное окно */

.modal {
    max-width: 550px;
    max-height: 610px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    color: #000000;
    z-index: 10000;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0, .4);
            box-shadow: 10px 10px 20px rgba(0,0,0, .4);
    border-radius: 10px;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    z-index: 999;
}
.modal__open {
    display: block;
}
.modal__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;

    padding: 10px 20px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    border-radius: 10px;
}
.modal__header {
    margin: 0 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #00000050;
}
.header__title {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}
.header__close {
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
    opacity: .6;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
    outline: none;
}
.header__close:hover {
    opacity: 1;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.header__close::before,
.header__close::after {
    content: ' ';
    top: 0;
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #1f1f24;
}
.header__close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.header__close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.header__text {
    margin: 0 0 15px 0;
    width: 100%;
    color: #8993ad;
    font-size: 12px;
}
.form__set {
    margin: 0;
    padding: 0;
    border: none;
}
.form__legend {
    margin: 0 0 15px 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
.form__input {
    padding: 0 10px 0 10px;
    margin: 0 0 15px 0;
    width: 100%;
    height: 35px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.form__input:hover {
    border: 1px solid #ff4e2e;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus {
    border: 1px solid #ff4e2e;
    outline: none;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus::-webkit-input-placeholder {
    color: #00000030;
    -webkit-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus::-moz-placeholder {
    color: #00000030;
    -moz-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus:-ms-input-placeholder {
    color: #00000030;
    -ms-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus::-ms-input-placeholder {
    color: #00000030;
    -ms-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__input:focus::placeholder {
    color: #00000030;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__textarea {
    padding: 10px;
    width: 100%;
    height: 100px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    resize: none;
}
.form__textarea:focus {
    border: 1px solid #ff4e2e;
    outline: none;
    -webkit-transition: .300s ease-in-out;
    -o-transition: .300s ease-in-out;
    transition: .300s ease-in-out;
}
.form__maxlength {
    margin: 0 0 15px 0;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8993ad;
}

/* S W I P E R */
.swiper-container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    max-width: 455px;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }


  .swiper-button-next::after,
  .swiper-button-prev::after {
      display: none;
  }
  .swiper-pagination {
    margin: 0 0 100px 0;
  }
  .swiper-pagination-bullet {
      margin: 0 30px 0 0;
      width: 18px;
      height: 18px;
      background-color: #ebebeb;
      opacity: 1;
  }
  .swiper-pagination-bullet:last-child {
      margin: 0 0 0 0;
  }
  .swiper-pagination-bullet-active {
    background-color: #ff4e2e;
  }
  
@media (max-width: 1440px) {
    .welcome__photo {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn--main {
        width: 320px;
        height: 68px;
    }
    .container__header {
        font-size: 54px;
    }
    .main-navigation__navigation-list {
        min-height: 11%;
        width: 100vw;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
    }
        .navigation-list__item {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
        }
        .navigation-list__item a {
            font-size: 20px;
        }
        .navigation-list__item:last-child {
            margin: 0 0 0 0;
        }
        .navigation-list__item--close {
            display: block;
        }
        .navigation--open {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .main-navigation__mobile {
            width: 45px;
            height: 32px;
            display: block;
            background-image: url('../img/burger.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    .side-block__phone-link {
        font-size: 25px;
    }
    .side-block__phone-btn--mobile {
        display: none;   
    }
    .welcome {
        background-image: url('../img/Ellipse-tab.svg');
        background-position: right -372px bottom -96px;
    }
    .welcome .el-1-1 {
        font-size: 49px;
        left: 7.5%;
        top: 5%;
    }
    .welcome .el-1-2 {
        left: 87%;
        top: 4%;
    }
    .welcome .el-1-3 {
        left: 5.5%;
        top: 77.5%;
    }
    .welcome .el-1-5 {
        left: 35.5%;
        top: 71%;
    }
    .welcome .el-1-4 {
        display: none;
    }
    .welcome .el-1-6-tab {
        display: block;
        font-size: 60px;
        font-family: "Roboto";
        color: rgb(96, 85, 196);
        font-weight: bold;
        line-height: 0.9;
        -moz-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);
        -webkit-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);
        -ms-transform: matrix( 0.75071668916306,0.18406909437483,-0.18406909437483,0.75071668916306,0,0);
        position: absolute;
        left: 40%;
        top: 15.5%;
        z-index: 109;
    }
    .welcome__container {
        padding: 0 40px;
        max-width: 945px;
    }
        .welcome__text-block {
            margin: -50px 0 0 0;
            position: relative;
            z-index: 200;
        }
            .welcome-text-block__header {
                margin: 0 0 30px 0;
                font-size: 54px;
                line-height: 54px;
            }
            .welcome-text-block__desc {
                margin: 0 0 45px 0;
                font-size: 25px;
                line-height: 25px;
            }
        .skills__list {
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            margin: 90px 0 15px 0;
        }
            .list {
                max-width: 780px;
            }
            .list__item {
                margin: 0 0 75px 0;
                max-width: 380px;
                min-width: 320px;
            }
            .list__item figure img {
                width: 74px;
                height: 74px;
            }
            .list__item figcaption {
                width: 320px;
                font-size: 20px;
            }
    .arrow {
        display: none;
    }
    .works__container {
        max-width: 945px;
        padding: 0 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
        .works__list {
            margin: 102px 0 102px 0;
        }
        .works-list__item {
            width: 455px;
        }
            .works-list__item figure img {
                width: 100%;
            }
            .works-list__item figure figcaption {
                margin: 25px 0 0 0;
                font-size: 25px;
                line-height: 25px;
            }
    .carusel-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .price .el-2-1 {
        top: 5%;
        left: 15.5%;
        -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
                transform: rotate(30deg);
        font-size: 30px;
    }
    .price .el-2-2 {
        top: 78%;
        right: 9%;
    }
    .price .el-2-3 {
        display: none;
    }
    .price .el-2-4 {
        bottom: 8%;
        right: 44%;
        font-size: 25px;
    }
    .price .el-2-5 {
        display: none;
    }
        .price__container {
            padding: 72px 40px 80px 40px;
            -webkit-box-sizing: content-box;
                    box-sizing: content-box;
        }
        .footer__items {
            padding: 104px 0 72px 0;
        }
        .footer__block {
            width: auto;
        }
    .footer-navigation__list {
        margin: 0 0 0 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer-contacts__list {
        margin: 5px 0 0 54px;
    }
    .copyright-block p {
        margin: 28px 0 28px 0;
    }
    .header__title {
        font-size: 22px;
    }
    /* S W I P E R PAD*/

    .swiper-slide {
        max-width: 455px;
        width: 100%;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-pagination {
        display: block;
        position: relative;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .btn {
        width: 100%;
        height: 55px;
    }
    .header {
        margin: 26px 0 80px 0;
    }
    .container__header {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }
    .header__main-navigation {
        -webkit-box-flex: 0;
            -ms-flex: 0;
                flex: 0;
    }
    .main-navigation__mobile {
        width: 24px;
        height: 18px;
        display: block;
        background-image: url('../img/burger.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-navigation__navigation-list {
        width: 100vw;
        max-height: 467px;
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        z-index: 9999;
    }
    .navigation-list__item {
        margin: 0 0 30px 0;
        text-align: center;
    }
    .navigation-list__item a {
        font-size: 30px;
    }
    .navigation-list__item--close {
        display: block;
    }
    .navigation--open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .header__side-block {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .side-block__phone-link {
        margin: 0 auto;
        font-size: 18px;
    }
    .side-block__phone-btn {
        display: none;
    }
    .side-block__phone-btn--mobile {
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        display: block;

        border: none;
        background-image: url('../img/call.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }
    .welcome {
        background-image: url('../img/Ellipse-mob.svg');
        background-position: center 45px;
        background-size: 100%;
    }
    .welcome .el-1-1 {
        font-size: 25px;
        left: 15%;
        top: -6%;
    }
    .welcome .el-1-2 {
        font-size: 15px;
        -webkit-transform: rotate(22deg);
            -ms-transform: rotate(22deg);
                transform: rotate(22deg);
        left: 77.5%;
        top: 3%;
    }
    .welcome .el-1-3 {
        font-size: 25px;
        left: 12%;
        top: 15%;
    }
    .welcome .el-1-4 {
        display: none;
    }
    .welcome .el-1-5 {
        font-size: 20px;
        left: 53%;
        top: -9%;
        -webkit-transform: rotate(-33deg);
            -ms-transform: rotate(-33deg);
                transform: rotate(-33deg);
    }
        .welcome__container {
            padding: 0 0;
            min-width: 280px;
            -ms-flex-wrap: wrap-reverse;
                flex-wrap: wrap-reverse;
        }
        .welcome__text-block {
            margin: 0 0 0 0;
            padding: 0 20px;
            min-width: 280px;
            width: 100%;

            background-color: #ffffff;
        }
            .welcome-text-block__header {
                margin: 7px 0 0 0;
                font-size: 30px;
                line-height: 51px;
                text-align: center;
            }
            .welcome-text-block__desc {
                margin: 0 0 22px 0;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        .welcome__photo {
            padding: 0 20px;
            margin-left: auto;
        }
        .welcome__photo img {
            margin-right: 0;
            max-height: 334px;
            width: auto;
        }

    .skills {
        margin: 0 0 0 0;
    }
        .skills__container {
            padding: 45px 0 45px 0;
        }
        .skills__list {
            margin: 43px 0 0 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
            .list__item {
                margin: 0 0 48px 0;
                max-width: 280px;
            }
            .list__item:nth-child(2n) {
                margin: 0 0 48px 0;
            }
            .list__item figure img {
                width: 61px;
                height: 100%;
            }
            .list__item figcaption {
                margin: 15px 0 0 0;
                font-size: 16px;
                line-height: 24px;
            }
    .works__container {
        margin: 50px 0 50px 0;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
        .works__list {
            margin: 45px 0 40px 0;
        }
        .works-list__item {
            min-width: 100%;
            width: 100%;
        }
        .works-list__item figure img {
            width: 100%;
            max-height: 252px;
        }
        .works-list__item figure figcaption {
            font-size: 18px;
            line-height: 20px;
        }
    .carusel-buttons {
        margin: 0 0 45px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .carusel-item {
        margin: 0 15px 0 0;
    }
    .carusel-button {
        width: 10px;
        height: 10px;
    }
    .price .el-2-1,
    .price .el-2-2,
    .price .el-2-3,
    .price .el-2-4,
    .price .el-2-5 {
        display: none;
}
        .price__container {
            padding: 45px 20px;
        }
        .price__header {
            font-size: 28px;
            line-height: 40px;
        }
            .price-help__text {
                font-size: 15px;
            }
    .footer__items {
        padding: 35px 0 50px 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer__block {
        margin: 0 auto;
        width: 280px;
    }
    .f-navigation-list__item a {
        font-size: 15px;
    }
    .footer-contacts__list {
        margin: 45px 0 0 0;
    }
        .f-contacts-list__item {
            margin: 0 0 18px 0;
        }
        .f-contacts-list__item svg {
            margin: 0 15px 0 0;
            max-width: 14px;
            max-height: 14px;
        }
        .f-contacts-list__item a {
            font-size: 20px;
            color: #8993ad;
        }
    .envelope {
        font-size: 20px;
    }
    .footer-social__list {
        margin-top: 25px;
        margin-left: 0;
        max-width: 280px;
    }
    .btn--footer {
        margin: 0 0 50px 0;
        width: 100%;
        height: 55px;
        background-color: #ff4e2e;
        color: #ffffff;
        border: none;
    }
    .social-item {
        opacity: .6;
    }
    .copyright-block p {
        margin: 15px 0 17px 0;
        font-size: 12px;
    }
    .modal {
        position: fixed;
    }
    .modal__wrapper {
        padding: 10px 10px;
        width: 100%;
    }
    .header__title {
        font-size: 18px;
    }
    .form__legend {
        font-size: 16px;
    }
    .form__input {
        font-size: 14px;
    }
    /* S W I P E R MOB*/
    .swiper-pagination {
        display: block;
        position: relative;
    }
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-pagination {
        margin: 0 0 45px 0;
    }
    .swiper-pagination-bullet {
        margin: 0 15px 0 0;
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    .main-navigation__navigation-list {
        min-height: 20%;
    }
    .modal {
        position: fixed;
    }
    .modal__wrapper {
        height: 100%;
        overflow-x: scroll;
    }

}